<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" href="\static\css\main.css">
    </head>

    <body>
        <h1>Ла pizza</h1>
        <p>Якийсь адрес?</p>
<!--        тут кнопка для переходу на меню-->
        <a href="/menu">
            <button>Menu</button>
        </a>
        <img src="\static\images\Main pizza.jpg"
             alt="Шеф" style="float: right;width:600px;height:370px;">
        <img src="\static\images\Shef.jpg"
             alt="Шеф" style="float:left;width:250px;height:350px;">
    </body>
</html>