<!DOCTYPE html>
<html>
    <head>
        <title>Menu</title>
        <link rel="stylesheet" href="\static\css\menu.css">
    </head>

    <body>
        <a href="/">
            <button>Back</button>
        </a>
        <h1>Menu</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Ingredients</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>Margherita</td>
                <td>томатний соус, моцарела, базилік.</td>
                <td>3,50$</td>
            </tr>
            <tr>
                <td>4 сири</td>
                <td>пармезан, емменталь, рикота, горгонзола.</td>
                <td>4$</td>
            </tr>
            <tr>
                <td>4 пори року</td>
                <td>томатний соус, салямі, шинка, рукола, томат, фета, чері, моцарела, орегано.</td>
                <td>6$</td>
            </tr>
            <tr>
                <td>4 м'яса</td>
                <td>томатний соус, бекон, мариноване курча, шинка, свіжі томати, сир Моцарела.</td>
                <td>4$</td>
            </tr>
            <tr>
                <td>Вегетеріанська з тофу</td>
                <td>томатний соус, сир тофу, печериці, томати, кукурудза, цибуля, оливки, зелень.</td>
                <td>5$</td>
            </tr>
        </table>
    </body>
</html>